#icone
{
    position: relative;
}


h1
{
    text-align:center;
    color: #52937E;
    font-size: 0.1em;
}

h2
{

    color: #52937E;
    border-bottom-color: azure;
}
p
{
    font-style: italic;
    color: #52937E;
}
#menu
{
    position: absolute;
}
#navigation li
{
    display:inline;
    margin: 5px;
    list-style: none;
}

#navigation
{
    list-style: none ;
    margin: 0px ;
    padding: 0px ;
    text-align: center ;
    border: solid;
}

#mainTitle
{
    color:whitesmoke;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 40%;
}
#error{
    text-align: center;
    background-color: #52937E;
}
#attention
{
    font-size: 80px;
    color: darkorange;
    align-items: center;
}
#nameAuteur
{
    font-family:"Segoe Print";
    margin: 15px;
    color: #52937E;
    position: relative;
    left: -5px;
    z-index: 3;
}
#surnameAuteur
{
    font-family:"Segoe Print";
    margin: 15px;
    color: #52937E;
    position: relative;
    left: 30px;
    z-index: 3;

}
#feather
{
    position: relative;
    left: 50px;
    opacity: 0.5;
    z-index: 3;

}
#cercle
{
    height: 170px;
    color: #52937E;
    width: 170px;
    border-radius: 50%;
    border:solid #C5E1D7 1px;
    align-content: center;
    box-shadow: #D2E6DF 0px 0px 5px 5px;
    margin: 10px;
    top: 70px;
    position: absolute;
    background-color: whitesmoke;
}
#image1
{
    opacity: 0.6;
    box-shadow: #C5E1D7 0px 0px 10px 5px;
}

#menu
{
    position: relative;
    margin-top: 20px;
}
#JF
{
    float: left;
}
.nav-link active:hover
{
    background-color: #52937E;
}
#separation
{
    height: 50px;
}

body
{
    margin-left: 15px;
    margin-right: 15px;
}
#btnAdminEdit
{
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
}

#btnAdminDelete
{
    width: 130px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#home
{
    position: relative;

}

/*------------------------------------------------------------------RESPONSIVE MEDIA QUERY----------------------------------------------*/

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {


    #mainTitle
    {
    color:whitesmoke;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 40%;
    }

    ul li
    {
        font-size: 20px;
    }

    p
    {
        font-size: 20px;
    }

    h5
    {
        font-size: 22px;
    }

}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {


    #mainTitle
    {
        color:whitesmoke;
        font-size: 50px;
        position: absolute;
        top:27%;
        left: 38%;
    }


}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {


    #mainTitle
    {
        color:whitesmoke;
        font-size: 36px;
        position: absolute;
        top: 20%;
        left: 35%;
    }
    #JF
    {
        width: 50%;
        height: 50%;
    }

}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #mainTitle
    {
        color:whitesmoke;
        font-size: 36px;
        position: absolute;
        top: 25%;
        left: 35%;
    }

    h2
    {
        font-size: 5px;
    }

}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {

    #mainTitle
    {
        color:whitesmoke;
        font-size: 26px;
        position: absolute;
        top: 22%;
        left: 38%;
    }
    #JF
    {
       width: 50%;
        height: 50%;
    }
    #cercle
    {
        height: 120px;
        color: #52937E;
        width: 120px;
        border-radius: 50%;
        border:solid #C5E1D7 1px;
        align-content: center;
        box-shadow: #D2E6DF 0px 0px 5px 5px;
        margin: 10px;
        top: 60px;
        position: absolute;
        background-color: whitesmoke;
    }
    #nameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: #52937E;
        position: relative;
        left: 5px;
        z-index: 3;
        font-size: 15px;
    }
    #surnameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: #52937E;
        position: relative;
        left: 25px;
        z-index: 3;
        font-size: 15px;

    }
    #feather
    {
        position: relative;
        left: 35px;
        bottom: 10px;
        opacity: 0.5;
        z-index: 3;
        font-size: 15px;

    }

}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {


    #JF{
        width: 50%;
        height: 50%;
    }
    #mainTitle
    {
        color:whitesmoke;
        font-size: 16px;
        position: absolute;
        top: 15%;
        left: 35%;
    }
    #cercle
    {
        height: 90px;
        color: #52937E;
        width: 90px;
        border-radius: 50%;
        border:solid #C5E1D7 1px;
        align-content: center;
        box-shadow: #D2E6DF 0px 0px 5px 5px;
        margin: 10px;
        top: 60px;
        position: absolute;
        background-color: whitesmoke;
    }
    #nameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: #52937E;
        position: relative;
        left: -5px;
        z-index: 3;
        font-size: 12px;
    }
    #surnameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: #52937E;
        position: relative;
        left: 10px;
        z-index: 3;
        font-size: 12px;

    }
    #feather
    {
       display:none;

    }

    p{
        font-size: 12px;
    }
    nav ul li{
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    body{
        width: 300px;
    }
    #JF{
        width: 90%;
        height: 80%;
    }
    #mainTitle
    {
        color:whitesmoke;
        font-size: 20px;
        position: absolute;
        top: 18%;
        left: 10%;
    }
    #cercle
    {
        display: none;
    }
    #nameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: black;
        position: relative;
        left: -5px;
        z-index: 3;
        font-size: 12px;
    }
    #surnameAuteur
    {
        font-family:"Segoe Print";
        margin: 15px;
        color: black;
        position: relative;
        left: 10px;
        z-index: 3;
        font-size: 12px;

    }
    #feather
    {
        display:none;

    }

    p{
        font-size: 12px;
    }

    nav ul li{
        font-size: 8px;
    }
    h2
    {
        font-size: 16px;
    }

    h5 h3 h5
    {
        font-size: 15px;

    }
    #menu ul li{
        padding: 0;
        margin: 0;
    }


}

